@font-face {
  font-family: "Roboto-Italic";
  src: url("../../public/font-awesome-4.7.0/fonts/roboto-italic_[allfont.net].ttf?");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratAlternates";
  src: url("../../public/font-awesome-4.7.0/fonts/MontserratAlternates-Bold.otf?");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../public/font-awesome-4.7.0/fonts/Montserrat-Regular.otf?");
  font-weight: normal;
  font-style: normal;
}