$mainColor: #00162b;
$mainFontSize: 16px;
$whiteColor: #ffff;
$yellowColor: #ffea00;
$robotoItalicFont: Roboto-Italic;
$MontserratAlternates: MontserratAlternates;
$MontserratRegular: MontserratRegular;

//header
.header {
  background-color: $mainColor;
  padding: 11px 0;

}

.main-menu {
  display: inline-block;
}

.title-header {
  p {
    color: #5c7186;
    margin: 0px;
    font-family: $robotoItalicFont;
    font-size: $mainFontSize - 4;
  }
}

.menu-contact {
  padding-left: 13px;

  ul {
    list-style: none;
    text-align: right;

    li {
      @extend .main-menu;

      a {
        padding-right: 11px;
        text-decoration: none;
        color: $whiteColor;
      }
    }
  }
}

.header-logo-address {
  background-color: $whiteColor;
  padding: 24.5px 0px;
}

.img-logo {
  p {
    font-size: $mainFontSize + 7;
    font-family: $MontserratAlternates;
    padding-left: 10px;
  }
}

.menu-responsive {
  display: none
}

.menus-res {
  display: none;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.address {
  ul {
    list-style: none;

    li {
      @extend .main-menu
    }
  }
}


.color-icon-header {
  color: #4c8cca;
  font-size: $mainFontSize + 10;
}

.address {
  ul {
    li {
      padding-right: 45px;
      margin-bottom: 10px;

      .location {
        p {
          padding-left: 9px;
          font-family: $MontserratAlternates;
          font-size: $mainFontSize;
        }
      }

      .location i {
        @extend .color-icon-header;

      }

      button {
        font-size: $mainFontSize - 3;
        font-family: $MontserratAlternates;
        background-color: $yellowColor;
        padding: 8px 49px;
        box-shadow: 0px 2px 0px #ffd200;
      }
    }

    li:last-of-type {
      padding-right: 0;
    }

  }
}

.home-menu {
  padding: 15.5px 0px;
  background-color: #001a33;
}

.menu {
  ul {
    list-style: none;

    li {
      @extend .main-menu;

      a {
        font-size: $mainFontSize - 2;
        color: $whiteColor;
        font-family: $MontserratRegular;
        padding: 15px 18px;
        position: relative;

        &:hover {
          text-decoration: none;
          box-shadow: 0px 3px 0px $yellowColor;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          height: 51px;
          border: 1px solid #000e1c;
          left: -3px;
        }
      }
    }

  }
}

.form-paragraph {
  position: relative;
  //top: 100px;
  margin-bottom: 85px;

  h1 {
    background-color: $mainColor;
    font-size: $mainFontSize + 9;
    font-family: $MontserratAlternates;
    color: $whiteColor;
    padding: 14px 18px;
    margin-right: 260px;
  }

  p {
    background-color: $mainColor;
    color: $whiteColor;
    font-size: $mainFontSize;
    font-family: $robotoItalicFont;
    padding: 14px 22px;
    margin-top: 20px;
  }

}

.form {
  padding: 5px 16px;
  background-color: $whiteColor;
  position: relative;
  z-index: 1;


  .form-title {
    h1 {
      font-size: $mainFontSize + 8;
      font-family: $MontserratRegular;
      color: #081b34;
      display: inline-block;
    }

    span {
      background-color: $yellowColor;
      font-size: $mainFontSize + 8;
      font-family: $MontserratRegular;
      display: inline-block;
      font-weight: bold;
      margin-left: 7px;
      padding: 1px 8px;
      transform: skew(-20deg);
    }

    p {
      font-size: $mainFontSize - 2;
      color: #6e6e6e;
      margin: 14px 0;
      padding-bottom: 15px;
      font-family: Roboto-Italic;
    }

  }

  form {
    .input-group {
      width: 350px;
      padding-top: 12px;
      margin: auto;

      .input-group-prepend {
        .input-group-text {
          border: 2px solid #d9e2eb;
        }
      }

      input {
        border: 2px solid #d9e2eb;
      }

      button {
        font-size: $mainFontSize - 3;
        font-family: $MontserratAlternates;
        background-color: $yellowColor;
        padding: 13px 0px;
        margin-bottom: 37px;
        width: 100%;
        box-shadow: 0px 2px 0px #ffd200;
      }

      .footer-form {
        display: flex;

        i {
          color: #e0e0e0;
          font-size: $mainFontSize + 12;
        }

        p {
          color: #a3a3a3;
          padding-left: 14px;
          font-size: $mainFontSize - 2;
        }
      }
    }

    .input-spilt:first-child {
      width: 160px;
      margin-left: 31px;
    }

    .input-spilt {
      width: 160px;
      margin-left: 0px;
    }

  }

  &:after {
    content: "";
    position: absolute;
    left: 0px;
    height: 11px;
    width: 100%;
    background: white;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-2deg);
    bottom: -2px;
  }
}

.form-driving {
  background: #383838;
  position: relative;

  .menu-form-driving {
    background: #050d17;
    border-bottom: 2px solid $yellowColor;
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-height: 85px;
  }

}

.menu-car {
  ul {
    list-style: none;

    li {
      @extend .main-menu;

      a {
        font-family: $MontserratAlternates;
        color: $mainColor;
        display: inline-block;
        padding: 12px 19px;

        h1 {
          font-size: $mainFontSize - 2;
          display: inline-block;
          color: $yellowColor;
        }

        i {
          font-size: $mainFontSize + 14;
          padding-right: 19px;
          color: $whiteColor;
        }

        span {
          font-family: $robotoItalicFont;
          font-size: $mainFontSize - 2;
          color: $whiteColor;
          display: block;
          padding-left: 56px;
        }

        &:hover {
          background-color: $yellowColor;
          text-decoration: none;
          box-shadow: 0px 0px 0px 4px $yellowColor;

          h1 {
            color: $mainColor;
          }

          i {
            color: $mainColor;
          }

          span {
            color: $mainColor;
          }
        }

      }
    }
  }
}

section.title {
  margin-bottom: 38px;

  h1 {
    color: $yellowColor;
    font-size: $mainFontSize + 9;
    font-family: $MontserratRegular;
    display: inline-block;
  }

  span {
    color: $whiteColor;
    font-size: $mainFontSize + 9;
    font-family: $MontserratRegular;
  }
}

.best-features {
  padding: 101px 0px;
  background: url("../../public/img/background.png");
}

section.experience {
  .padding-35 {
    padding: 0px 35px;
  }

  .img-exp {
    display: inline-block;
  }

  h1 {
    font-size: $mainFontSize - 2;
    color: $whiteColor;
    font-family: $MontserratAlternates;
    display: inline-block;
  }

  p {
    display: inline-block;
    font-size: $mainFontSize - 1;
    color: #4c7399;
    font-family: $robotoItalicFont;
  }

  a {
    color: $whiteColor;
    font-size: $mainFontSize - 1;
    font-family: $MontserratAlternates;

    &:hover {
      text-decoration: none;
    }

    i {
      color: $yellowColor;
      margin-left: 8px;
    }
  }
}

.about-as {
  background: #938070;
  padding-bottom: 199px;
}

section.about {
  background: $whiteColor;
  padding: 69px 66px;

  h1 {
    font-family: $MontserratRegular;
    font-size: $mainFontSize + 9;
  }

  p {
    font-size: $mainFontSize - 1;
    font-family: $robotoItalicFont;
    color: #768fa7;
    padding: 15px 0px;
  }

  button {
    font-size: $mainFontSize - 3;
    font-family: $MontserratAlternates;
    background-color: $yellowColor;
    padding: 13px 51px;
    box-shadow: 0px 2px 0px #ffd200;
  }

  &:after {
    content: "";
    position: absolute;
    top: -5px;
    right: 15px;
    height: 11px;
    width: 635px;
    background: white;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-1deg);
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 15px;
    height: 40%;
    width: 50%;
    background-repeat: no-repeat;
    background: url("../../public/img/background-car.png");
  }
}

section.order {
  padding: 0 35px;

  .save {
    background: $mainColor;
    padding-left: 19px;

    h1 {
      color: $whiteColor;
      font-family: $MontserratRegular;
      font-size: $mainFontSize + 9;
      display: inline-block;
    }

    span {
      color: $yellowColor;
      font-family: $MontserratRegular;
      font-size: $mainFontSize + 9;
    }
  }
}

section.only-november {
  background: #00162b;
  padding: 22px;
  margin-top: 20px;
  position: relative;

  .title {
    p {
      font-family: $robotoItalicFont;
      font-size: $mainFontSize;
      color: $whiteColor;
    }
  }

  button {
    font-size: $mainFontSize - 3;
    font-family: $MontserratAlternates;
    background-color: $yellowColor;
    padding: 13px 51px;
    box-shadow: 0px 2px 0px #ffd200;
  }

  &:after {
    content: "";
    position: absolute;
    height: 11px;
    width: 100%;
    bottom: -4px;
    left: 0px;
    background: $mainColor;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-1deg);
  }
}

.rounded {
  span {
    color: $whiteColor;
    position: relative;
    left: 36px;
    z-index: 1;
  }
}

.service {
  background: $whiteColor;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px solid #e6ebf1;
    top: 342px;
  }
}

.background-light {
  background: #f9fafb;
}

section.best-service {
  width: 25%;
  height: 100%;
  float: left;
  padding: 77px 21px;
  border: 1px solid #e6ebf1;
  border-bottom: none;

  .img-service {
    position: relative;
    margin-bottom: 25px;

    &:after {
      content: "";
      position: absolute;
      width: 59px;
      bottom: 17px;
      height: 3px;
      left: 25px;
      background: $yellowColor;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    &:before {
      content: "";
      position: absolute;
      width: 59px;
      bottom: 17px;
      height: 3px;
      right: 25px;
      background: $yellowColor;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
  }

  h1 {
    font-size: $mainFontSize - 2;
    font-family: $MontserratAlternates;
    color: $mainColor;
  }

  p {
    font-size: $mainFontSize - 1;
    font-family: $robotoItalicFont;
    color: #83a1bf;
    margin-top: 19px;
  }
}

.counter {
  background: url("../../public/img/background.png");
  padding: 76px 0px;
}

section.counter {
  position: relative;
  text-align: center;
  border-right: 3px solid #0f375e;
  border-right-style: dotted;

  h1 {
    font-size: $mainFontSize + 18;
    color: $yellowColor;
    font-family: $MontserratRegular;
  }

  p {
    font-size: $mainFontSize - 1;
    font-family: $robotoItalicFont;
    color: $whiteColor;
    margin-top: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 30px;
    bottom: 62px;
    height: 3px;
    left: 111px;
    background: $yellowColor;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
}

.price {
  background: #f9fafb;
  position: relative;
  padding-bottom: 222px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 15px;
    height: 38%;
    width: 42%;
    background-repeat: no-repeat;
    background: url("../../public/img/background-slider.png");
  }
}

section.title-price {
  padding-top: 91px;
  padding-bottom: 91px;


  h1 {
    font-family: $MontserratAlternates;
    font-size: $mainFontSize + 9;
    color: $mainColor;
  }

  p {
    font-family: $MontserratRegular;
    font-size: $mainFontSize;
    color: #8da4bb;
  }
}

section.basic-plan {
  position: relative;
  background-color: $whiteColor;
  padding: 12px 19px;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;

  span:first-child {
    opacity: 0;
    color: $yellowColor;
    font-size: $mainFontSize - 3;
    font-family: $MontserratAlternates;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
  }

  span {
    font-size: $mainFontSize + 2;
    font-family: $MontserratRegular;
    color: #7998b8;
  }

  h1 {
    font-family: $MontserratRegular;
    font-size: $mainFontSize + 22;
    color: #001a33;
  }

  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    right: 34px;
    top: 58px;
    background: $yellowColor;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  &:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 34px;
    top: 58px;
    background: $yellowColor;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  li.rating {
    ul {
      opacity: 0;
      -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
      transition: all 1s;
    }
  }


  .features-plan {
    ul {
      list-style: none;
      padding: 0px;

      li {
        .content {
          padding: 12.5px 74px;
          background: #f9fafc;
          display: inline-block;
        }


        ul {
          margin-top: 25px;

          li {
            i {
              color: $yellowColor;
            }
          }
        }

        button {
          font-size: $mainFontSize - 3;
          font-family: $MontserratAlternates;
          background-color: $yellowColor;
          padding: 13px 51px;
          margin-top: 35px;
          box-shadow: 0px 2px 0px #ffd200;
        }

        i {
          color: #a1d81e;
          padding-right: 5px;

        }

        i.fa-close {
          color: #ec4e4e;
        }

        p {
          display: inline-block;
          margin: 0px;
        }
      }
    }
  }

  &:hover {
    border: 6px solid $yellowColor;

    li.rating {
      ul {
        opacity: 1;
      }
    }

    span:first-child {
      opacity: 1;
    }
  }
}

.no-background {
  background: none !important;
}

section.slider {
  margin-top: 110px;
  padding: 20px 25px;
  background-color: $whiteColor;
}

ul.slider-one {
  bottom: 144px !important;
}


.carousel-indicators li:not(.active) {
  border-bottom: none !important;
  border-top: none !important;

  &:before {
    display: none;
  }
}

.carousel-indicators li {
  box-sizing: border-box !important;
  border-radius: 50% !important;
  height: 60px !important;
  width: 60px !important;
  border: 3px solid $whiteColor;
  background: #e5e3e4 !important;
  margin: 0px !important;
  position: relative !important;

  &:before {
    position: absolute;
    content: "";
    left: 25px;
    top: 62px;
    width: 0 !important;
    height: 0 !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-bottom: 6px solid $whiteColor !important;
  }
}

.carousel-indicators .active {
  border: 3px solid $yellowColor;
}

.carousel-control-prev {
  left: -44px !important;
  top: -156px !important
}

.carousel-control-next {
  right: -44px !important;
  top: 0px !important;
}

ul.slider-two {
  top: 65%;
  left: 22px !important;
  right: initial;
  margin: 0px;

  li {
    box-shadow: 0px 3px 10px 0px rgba(193, 206, 219, 0.4);
    background: $whiteColor !important;
    margin-right: 12px !important;

    &:before {
      display: none;
    }
  }
}

.author {
  position: relative;

  h1 {
    font-family: $robotoItalicFont;
    font-size: $mainFontSize - 2;
    color: #001a33;
    text-align: center;
  }

  ul {
    li {
      i {
        color: $yellowColor;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 392px;
    height: 2px;
    right: -25px;
    top: 34px;
    background: #f0f3f5;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  &:before {
    content: "";
    position: absolute;
    width: 392px;
    height: 2px;
    left: 15px;
    top: 34px;
    background: #f0f3f5;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

}

.slider-one p {
  padding: 0px 100px;
  font-size: $mainFontSize + 6;
  color: #96abc0;
  font-family: "Times New Roman";
}

.m-lg-45 {
  margin-top: 300px;
}

.courses {
  background: #001a33;
  padding: 144px 0px;
}

.content-consul {
  padding: 79px 0px;
  position: relative;
  background: $whiteColor;

  p {
    font-size: $mainFontSize - 2;
    color: $mainColor;
    font-family: $MontserratAlternates;

    i {
      font-size: $mainFontSize+15;
      color: $yellowColor;
    }
  }


  &:after {
    position: absolute;
    width: 202px;
    height: 100%;
    top: 0px;
    left: -15px;
    content: "";
    background: url("../../public/img/background-msg.png");
    opacity: 0.1;

  }
}

section.title-courses {
  h1 {
    font-size: $mainFontSize+9;
    font-family: $MontserratAlternates;
    color: $whiteColor;
  }

  p {
    font-size: $mainFontSize;
    font-family: $MontserratRegular;
    color: #8da4bb;
  }
}

.hover {
  display: none;
}

section.block-course {
  margin-bottom: 32px;
  position: relative;

  .title {
    display: flex;
    padding: 35.5px 0px;
    background-color: $whiteColor;

    i {
      color: $yellowColor;
      padding-right: 18px;
      padding-left: 22px;
      font-size: $mainFontSize+$mainFontSize;
    }

    h1 {
      font-size: $mainFontSize - 2;
      color: $mainColor;
      font-family: $MontserratAlternates;
      padding-right: 43px;
      margin: 0px;
    }
  }

  .content {
    background: #f3f7fa;
    padding: 9.5px 24px;

    p {
      font-family: $robotoItalicFont;
      font-size: $mainFontSize - 2;
      color: #5b6f7e;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 177px;
        bottom: -78px;
        left: 176px;
        border-right: 2px solid #c4d8e0;
        border-right-style: dotted;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }

    .part-one, .part-two {
      span {
        font-family: $robotoItalicFont;
        font-size: $mainFontSize - 2;
        color: $mainColor;
      }
    }
  }


  &:hover {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      border: 5px solid $yellowColor;
      background: $mainColor;
      opacity: 0.9;
    }

    .hover {
      display: block;
      position: absolute;
      top: 0px;
      z-index: 99;
      padding: 19px;

      h1 {
        color: $whiteColor;
        font-size: $mainFontSize - 2;
        font-family: $MontserratAlternates;
      }

      .days {
        margin-top: 39px;

        i {
          padding-right: 14px;
          color: $whiteColor;
          font-size: $mainFontSize + 11;
        }

        color: $whiteColor;
        font-family: $MontserratAlternates;
      }

      button {
        font-size: $mainFontSize - 3;
        font-family: $MontserratAlternates;
        background-color: $yellowColor;
        padding: 13px 32px;
        box-shadow: 0px 2px 0px #ffd200;
      }
    }
  }
}

.icon i {
  color: $yellowColor;
  font-size: $mainFontSize + 10;
  padding-right: 17px;
}

section.photo-title {
  h1 {
    font-family: $MontserratRegular;
    font-size: $mainFontSize + 9;
    color: $mainColor;
  }

  p {
    font-family: $MontserratRegular;
    font-size: $mainFontSize;
    color: #a3b5c8;
  }
}

.photo-gallery {
  background: #f9fafb;
  padding-top: 100px;
  padding-bottom: 95px;
}

ul.nav-photo-gallery {
  list-style: none;
  margin-bottom: 52px;
  margin-top: 40px;

  li {
    display: inline-block;
    margin-right: 28px;

    a {
      text-decoration: none;
      font-size: $mainFontSize - 1;
      font-family: $MontserratRegular;
      color: $mainColor;
      font-weight: bold;
    }

    a.active {
      color: black;
      font-size: $mainFontSize - 1;
      font-weight: bold;
      font-family: $MontserratRegular;
      background-color: $yellowColor;
      padding: 15px 29px;
      border-radius: 36px;
      box-shadow: 0px 2px 0px #ffd200;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.img {
  margin-bottom: 31px;
}

.play-video {
  background: #001a33;
  padding: 148px 0px;
}

section.video {
  border: 5px solid $whiteColor;
  padding: 155px 0;

  .icon-video {
    text-align: center;

    i {
      font-size: $mainFontSize+$mainFontSize;
      color: $yellowColor;
      border-radius: 50%;
      border: 7px solid #ffea00;
      padding: 20px 23px;
    }
  }

  .content {
    margin-top: 26px;

    h1 {
      padding-right: 5px;
      display: inline-block;
      font-size: $mainFontSize + 9;
      font-weight: bold;
      color: $whiteColor;
    }

    span {
      font-size: $mainFontSize + 9;
      font-weight: bold;
      color: $yellowColor;
    }

    p {
      font-size: $mainFontSize;
      font-family: $MontserratRegular;
      color: #8da4bb;
      width: 60%;
      margin: 6px auto;
    }
  }
}

.instructors {
  padding-top: 50px;
}

.carousel-item {

  p {
    font-weight: bold;
    font-size: $mainFontSize;
    font-family: $MontserratRegular;
    color: #8da4bb;
  }

  .owner {
    h1 {
      font-weight: bold;
      font-size: $mainFontSize+$mainFontSize;
      font-family: $MontserratRegular;
      color: black;
    }

    p {
      font-weight: bold;
      font-size: $mainFontSize - 1;
      font-family: $MontserratRegular;
      color: black;
    }
  }
}

.img-slider-two {
  height: 555px;
  overflow: hidden;
}

.slider-two-prev {
  left: -58px !important;
  top: -75px !important
}

.slider-two-next {
  right: 245px !important;
  top: 29px !important;
}

section.form-map {
  form {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 99;

    .input-form {
      padding: 35px 31px;
      background: #f9fafb;

      button {
        font-size: $mainFontSize - 3;
        font-family: $MontserratAlternates;
        background-color: $yellowColor;
        width: 100%;
        padding: 13px 0px;
        box-shadow: 0px 2px 0px #ffd200;
      }

      .input-spilt:first-child {
        margin-right: 28px;
      }

      .input-spilt {
        width: 275px;
        margin-left: 0px;
      }

      .input-group {
        i {
          color: #d9e2eb;;
        }

        .input-group-prepend {
          .input-group-text {
            border: 2px solid #d9e2eb;
          }
        }

        input, textarea {
          border: 2px solid #d9e2eb;
        }

        padding-top: 33px;
        padding: 0px 3px;

        textarea {
          margin-top: 25px;
          padding: 30px 15px;
          margin-bottom: 26px;
        }
      }
    }

    .contact {
      background-color: #e5ecf4;
      padding-top: 29px;
      padding-bottom: 23px;
      padding-right: 67px;
      padding-left: 30px;

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;

        li {
          display: inline-block;
          padding-right: 29px;

          i {
            margin-right: 5px;
            padding: 10px 13px;
            border-radius: 50%;
            background: #dae2ea;
            font-size: 25px;
          }

          p {
            font-size: $mainFontSize;
            font-weight: bold;
            font-family: $MontserratAlternates;
            color: $mainColor;
            display: inline-block;
          }
        }
      }
    }
  }
}

.map {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #00162b;
    opacity: 0.9;
    right: 0px;
  }
}

section.faq {
  h1 {
    margin-top: 95px;
    font-size: $mainFontSize+9;
    font-weight: bold;
    font-family: $MontserratAlternates;
  }
}

button.faq {
  i {
    color: $mainColor;
  }

  font-family: $MontserratAlternates;
  font-weight: bold;
  color: $mainColor;
  font-size: $mainFontSize;
}

.content-faq {
  padding: 0 30px;
  font-size: $mainFontSize - 1;
  font-family: $robotoItalicFont;
  color: #6d91b4;
}

#accordion div {
  margin-bottom: 30px;
}

footer {
  background: #041e37;

  .footer-content {
    padding: 58px 0px;
  }
}

section.about-footer {
  h1 {
    font-family: $MontserratRegular;
    font-weight: bold;
    font-size: $mainFontSize + 2;
    color: $whiteColor;
  }

  p {
    color: #4d749a;
    font-size: $mainFontSize - 1;
    font-family: $robotoItalicFont;
  }

  .icon {
    p {
      font-weight: bold;
    }
  }
}

section.blog-footer {
  h1 {
    font-family: $MontserratRegular;
    font-weight: bold;
    font-size: $mainFontSize + 2;
    color: $whiteColor;
  }

  .blog-mount {
    h2 {
      font-size: $mainFontSize - 2;
      color: $whiteColor;
      font-weight: bold;
    }

    p {
      color: #4d749a;
      font-size: $mainFontSize - 1;
      font-family: $robotoItalicFont;
    }
  }

  a {
    font-size: $mainFontSize - 1;
    color: $whiteColor;

    i {
      color: $yellowColor;
    }
  }

}

.insta-rectangle {
}

.rec {
  display: inline-block;
  margin-right: 14px;
  width: 68px;
  height: 68px;
  background: #fca67f;
  border: 5px solid #244668;
}

p.opening {
  color: #527aa1;

  &:after {
    content: "";
    position: absolute;
    height: 97px;
    bottom: -37px;
    left: 108px;
    border-right: 2px solid #000d1a;
    border-right-style: dotted;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

span.opening {
  color: #527aa1;
}

.last-footer {
  padding: 13px 0px;
  background: #00162b;

  .container {
    .row {
      .col-12 {
        p {
          font-size: $mainFontSize -2;
          font-family: $robotoItalicFont;
          color: #718aa2;
          margin: 0px;
          display: inline-block;
        }
      }
    }
  }

  background: $mainColor;
}