@media (max-width: 1048px) {
  .form {
    form {
      .input-group {
        width: auto;
      }
    }

    margin-bottom: 180px;

    &:after {
      height: 14px;
    }
  }
  section.form-map {
    form {
      left: 6%;
    }
  }
  header {
    .header-logo-address {
      display: flex;
      justify-content: center;
    }
  }
  .best-service {
    width: 50% !important;
    height: 343px !important;
  }
}

@media (max-width: 768px) {
  .best-service {
    width: 100% !important;
    height: 343px !important;
  }
  section.basic-plan {
    margin-bottom: 10px;
  }
  .menu-contact ul {
    text-align: center;
    margin-top: 10px;
  }
  .title-header p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .menu-contact ul li i {
    font-size: 20px;
  }
  .menu ul {
    display: none;
  }
  .menu-responsive {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 20px;
    border: 2px solid #ffea00;

    .menus-res {
      ul {
        list-style: none;

        li {
          a {
            font-size: 14px;
            color: #ffff;
            font-family: MontserratRegular;
            padding: 15px 18px;
          }
        }
      }
    }

    a {
      i {
        color: #ffea00;
      }
    }
  }
  .menus-res.active {
    display: block;
  }
  .form-paragraph {
    top: 5px;
  }
}

@media (max-width: 692px) {
  section.form-map {
    form {
      top: 70px;
      width: 600px;
    }
  }
  .img-slider-two {
    max-width: 405px;

    img {
      max-width: 360px;
    }
  }
  footer {
    padding: 20px;
  }
}

@media (max-width: 640px) {
  section.form-map {
    form {
      top: 70px;
      width: 546px;
    }
  }
  ul.slider-two {
    top: 6%;
  }
  ul.slider-one {
    bottom: 249px !important;
  }
  .form-paragraph p {
    width: 395px !important;
  }
}

@media (max-width: 582px) {
  section.form-map {
    form {
      top: 70px;
      width: 420px;
    }
  }
}

@media (max-width: 452px) {
  section.form-map {
    form {
      top: 70px;
      width: 320px;
    }
  }
  .img-slider-two {
    max-width: 405px;

    img {
      max-width: 360px;
      width: 100%;
    }
  }
  #accordion {
    div {
      width: 350px;
    }
  }
  .form-paragraph {
    h1 {
      margin-right: 0px;
    }
  }
  .address {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .form-paragraph {
    margin-bottom: 0;
    margin-top: 1rem;

    h1 {
    }
  }
  .address ul {
    flex-direction: column;
  }
}
