body {
    background-image: url(image/background.png);
}

.header {
    background: #1D1D1D url(image/header.png) repeat;
}

h1 {
    color: #ffffff;
}

.textured {
    padding: 30px 150px;
}

.textured span {
    color: #1293EE;
    font-size: 37px;
}

.textured span:last-child {
    color: #ffffff;
    display: block;
    font-size: 20px;
}

ul {
    margin: 0px;
    margin-left: 100px;
}

ul li {
    display: inline-block;
    float: left;
    background: #1293EE;
}

ul li a {
    display: block;
    padding: 24px 50px;
}

.post, .category-post {
    padding: 30px;
}

.background-white {
    background-color: white;
}

ul li:hover {
    background: #0D66A5;
}

ul li a, ul li a:hover {
    color: white;
    text-decoration: none;

}

.content-page {
    background-color: #ffffff;
}

ul.category, ul.sidebar {
    margin: 0px;
}

ul.category li {
    background: #ebebfd;
    margin: 8px;
    border-radius: 4px;
    padding: 5px 20px;
}

ul.sidebar li {
    background: #242424;
    padding: 11px 37px;
    border-radius: 4px;
}

ul.action {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

ul.action li a {
    padding: 5px 15px;
    border-radius: 4px;
    margin-right: 4px;
}

.has-error input {
    border: 2px solid red;
}

.has-error input span {
    color: red;
    font-weight: bold;
}

.posts {
    padding: 20px;
}

.single-post {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.custom-img {
    padding: 8px;
    border: 2px solid #ececff;
    background: ghostwhite;
    border-radius: 4px;
}

.single-post h2 {
    padding: 8px;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 35px;
}

.single-post p {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

.categories {
    padding: 20px 0px;
}