<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="addCategory" class="p-5">
                    <div :class="['form-group', allerros.name ? 'has-error' : '']">
                        <label>Name:</label>
                        <input type="text" v-model="categories.name" class="form-control">
                        <span v-if="allerros.name" :class="['label label-danger']">{{ allerros.name[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Category</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddCategory",
        data: function () {
            return {
                categories: [
                    {
                        name: '',
                    }
                ],
                allerros: [],

            }
        },
        methods:
            {
                addCategory: function () {
                    axios.post('api/admin/category', {name: this.categories.name})
                        .then((response) => {
                            console.log(response);
                            this.$router.push({name: "categories"})
                        })
                        .catch((error) => {
                            console.log(error);
                            this.allerros = error.response.data.errors;
                        });
                },
            }
    }
</script>

<style scoped>

</style>