<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="addMenu" class="p-5">
                    <div :class="['form-group', allerros.title ? 'has-error' : '']">
                        <label>Title:</label>
                        <input type="text" v-model="menus.title" class="form-control">
                        <span v-if="allerros.title" :class="['label label-danger']">{{ allerros.title[0] }}</span>
                    </div>
                    <div :class="['form-group', allerros.url ? 'has-error' : '']">
                        <label>Url:</label>
                        <input class="form-control" v-model="menus.url">
                        <span v-if="allerros.url" :class="['label label-danger']">{{ allerros.url[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Menu</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddMenu",
        data: function () {
            return {
                menus: [
                    {
                        title: '',
                        url: ''
                    }
                ],
                allerros: [],
            }
        },
        methods:
            {
                addMenu: function () {
                    axios.post('api/admin/menu', {title: this.menus.title, url: this.menus.url})
                        .then((response) => {
                            console.log(response);
                            this.$router.push({name: "listMenu"})
                        })
                        .catch((error) => {
                            console.log(error);
                            this.allerros = error.response.data.errors;
                        });
                },
            }
    }
</script>

<style scoped>

</style>