<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="addPost" class="p-5" enctype="multipart/form-data">
                    <div :class="['form-group', allerros.title ? 'has-error' : '']">
                        <label>Title:</label>
                        <input type="text" v-model="posts.title" class="form-control">
                        <span v-if="allerros.title" :class="['label label-danger']">{{ allerros.title[0] }}</span>
                    </div>
                    <div :class="['form-group',allerros.body?'has-error':'']">
                        <label>Body:</label>
                        <textarea class="form-control" v-model="posts.body" rows="5" id="comment"></textarea>
                        <span v-if="allerros.body" :class="['label label-danger']">{{ allerros.body[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" name="image" class="form-control"
                               @change="uploadImage">
                    </div>
                    <div :class="['form-group',allerros.categories?'has-error':'']">
                        <select multiple="true" class="form-control" v-model="posts.selected">
                            <option v-for="category in categories" :value="category.id"
                                    v-text="category.name">
                            </option>
                        </select>
                        <span v-if="allerros.categories"
                              :class="['label label-danger']">{{ allerros.categories[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddPost",
        data: function () {
            return {
                posts: [
                    {
                        title: '',
                        body: '',
                        file: '',
                        selected: [],
                    },
                ],
                categories: [],
                allerros: [],
            }
        },
        created() {
            this.getCategories();
        },
        methods:
            {
                uploadImage: function (event) {
                    let file = event.target.files[0];
                    this.posts.file = file;
                },
                addPost: function () {
                    let form = new FormData();
                    form.append("title", this.posts.title == undefined ? '' : this.posts.title);
                    form.append("body", this.posts.body == undefined ? '' : this.posts.body);
                    form.append("image", this.posts.file);
                    form.append("categories", this.posts.selected == undefined ? '' : this.posts.selected);
                    axios.post('api/admin/posts', form)
                        .then((response) => {
                            console.log(response);
                            this.$router.push({name: "listsPosts"})
                        })
                        .catch((error) => {
                            console.log(error);
                            this.allerros = error.response.data.errors;
                        });
                },
                getCategories: function () {
                    axios.get('/api/admin/category')
                        .then((response) => {
                            console.log(response.data.categories);
                            this.categories = response.data.categories;
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            }
    }
</script>

<style scoped>
    .row {
        justify-content: center;
    }
</style>