<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="addTestimonials" class="p-5" enctype="multipart/form-data">
                    <div :class="['form-group', allerros.author? 'has-error' : '']">
                        <label>Author:</label>
                        <input type="text" v-model="testimonials.author" class="form-control">
                        <span v-if="allerros.author" :class="['label label-danger']">{{ allerros.author[0] }}</span>
                    </div>
                    <div :class="['form-group',allerros.description?'has-error':'']">
                        <label>Description:</label>
                        <textarea class="form-control" v-model="testimonials.description" rows="5"
                                  id="comment"></textarea>
                        <span v-if="allerros.description"
                              :class="['label label-danger']">{{ allerros.description[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Testimonials</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddTestimonials",
        data: function () {
            return {
                testimonials: [
                    {
                        author: '',
                        description: ''
                    }
                ],
                allerros: [],
            }
        },
        methods:
            {
                addTestimonials: function () {
                    axios.post('api/admin/testimonial', {
                        author: this.testimonials.author,
                        description: this.testimonials.description
                    })
                        .then((response) => {
                            console.log(response);
                            this.$router.push({name: "testimonials"})
                        })
                        .catch((error) => {
                            console.log(error);
                            this.allerros = error.response.data.errors;
                        });
                },
            }
    }
</script>

<style scoped>

</style>