<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="category in categories">
            <td>{{category.name}}</td>
            <td>
                <router-link v-bind:to="'admin/category/'+category.id+'/edit'" class="btn btn-info">Edit
                </router-link>
                <a v-on:click.prevent="DeleteCategory(category.id)" class="btn btn-danger" id="deleteButton">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "dashboardCategory",
        data: function () {
            return {
                categories: []
            }
        },
        created() {
            this.getCategories();
        },
        methods: {
            getCategories() {
                axios.get('/api/admin/category')
                    .then((response) => {
                        console.log(response.data.categories);
                        this.categories = response.data.categories;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            DeleteCategory(category) {
                if (confirm("Do you want to delete?")) {
                    axios.delete('api/admin/category/' + category)
                        .then((response) => {
                            console.log(this);
                            $('#deleteButton').parent().closest('tr').remove();
                        }).catch((error) => {
                        console.log(error);
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>