<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="post in posts">
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>
                <router-link v-bind:to="'admin/posts/'+post.id+'/edit'" class="btn btn-info">Edit
                </router-link>
                <a v-on:click.prevent="DeletePost(post.id)" id="deleteButton"
                   class="btn btn-danger">Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "dashboardPosts",
        data: function () {
            return {
                posts: [],
            }
        },
        created() {
            this.getPosts();
        },
        methods: {
            getPosts() {
                axios.get('/api/admin/posts')
                    .then((response) => {
                        console.log(response.data.posts);
                        this.posts = response.data.posts;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            DeletePost(post) {
                if (confirm("Do you want to delete?")) {
                    axios.delete('api/admin/posts/' + post)
                        .then((response) => {
                            $('#deleteButton').parent().closest('tr').remove();
                        }).catch((error) => {
                        console.log(error);
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>