<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="menu in menus">
            <td>{{menu.title}}</td>
            <td>{{menu.url}}</td>
            <td>
                <router-link v-bind:to="'admin/menu/'+menu.id+'/edit'" class="btn btn-info">Edit
                </router-link>
                <a v-on:click.prevent="DeleteMenu(menu.id)" class="btn btn-danger" id="deleteButton">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "dashboardMenu",
        data: function () {
            return {
                menus: []
            }
        },
        created() {
            this.getMenus();
        },
        methods: {
            getMenus() {
                axios.get('/api/admin/menu')
                    .then((response) => {
                        console.log(response.data.menus);
                        this.menus = response.data.menus;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            DeleteMenu(menu) {
                if (confirm("Do you want to delete?")) {
                    axios.delete('api/admin/menu/' + menu)
                        .then((response) => {
                            $('#deleteButton').parent().closest('tr').remove();
                        }).catch((error) => {
                        console.log(error);
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>