<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="updateTestimonials" class="p-5">
                    <div :class="['form-group',allerros.author?'has-error':'']">
                        <label>Name:</label>
                        <input type="text" v-model="testimonial.author" class="form-control">
                        <span v-if="allerros.author" :class="['label label-danger']">{{ allerros.author[0] }}</span>
                    </div>
                    <div :class="['form-group',allerros.description?'has-error':'']">
                        <label>Description:</label>
                        <input type="text" v-model="testimonial.description" class="form-control">
                        <span v-if="allerros.description"
                              :class="['label label-danger']">{{ allerros.description[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Testimonials</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "editTestimonial",
        data: function () {
            return {
                testimonial: [],
                id: this.$route.params.id,
                allerros: [],
            }
        },
        created() {
            this.getTestimonial();
        },
        methods: {
            getTestimonial() {
                let getUrlTestimonial = '/api/admin/testimonial/' + this.id + '/edit';
                axios.get(getUrlTestimonial)
                    .then((response) => {
                        console.log(response.data.testimonials);
                        this.testimonial = response.data.testimonial;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateTestimonials() {
                let updateUrlTestimonial = '/api/admin/testimonial/' + this.id;
                axios.put(updateUrlTestimonial, {
                    author: this.testimonial.author,
                    description: this.testimonial.description
                })
                    .then((response) => {
                        console.log('Updated');
                        this.$router.push({name: "testimonials"})
                    })
                    .catch((error) => {
                        console.log(error);
                        this.allerros = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>