<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="updateCategory" class="p-5">
                    <div :class="['form-group',allerros.name?'has-error':'']">
                        <label>Name:</label>
                        <input type="text" v-model="categories.name" class="form-control">
                        <span v-if="allerros.name" :class="['label label-danger']">{{ allerros.name[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Category</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EditCategory",
        data: function () {
            return {
                categories: [],
                id: this.$route.params.id,
                allerros: [],
            }
        },
        created() {
            this.getCategories();
        },
        methods: {
            getCategories() {
                let getUrlCategory = '/api/admin/category/' + this.id + '/edit';
                axios.get(getUrlCategory)
                    .then((response) => {
                        this.categories = response.data.category;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateCategory() {
                let updateUrlCategory = '/api/admin/category/' + this.id;
                axios.put(updateUrlCategory, {name: this.categories.name})
                    .then((response) => {
                        console.log('Updated');
                        this.$router.push({name: "categories"})
                    })
                    .catch((error) => {
                        console.log(error);
                        this.allerros = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>