<template>
    <div class="container background-white">
        <div class="row">
            <div class="col-md-8">
                <form v-on:submit.prevent="updatePost" class="p-5">
                    <div :class="['form-group', allerros.title ? 'has-error' : '']">
                        <label>Title:</label>
                        <input type="text" v-model="posts.title" class="form-control">
                        <span v-if="allerros.title" :class="['label label-danger']">{{ allerros.title[0] }}</span>
                    </div>
                    <div :class="['form-group',allerros.body?'has-error':'']">
                        <label>Body:</label>
                        <textarea class="form-control" v-model="posts.body" rows="5" id="comment"></textarea>
                        <span v-if="allerros.body" :class="['label label-danger']">{{ allerros.body[0] }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Post</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EditPost",
        data: function () {
            return {
                posts: [],
                id: this.$route.params.id,
                allerros: [],
            }
        },
        created() {
            this.getPosts();
        },
        methods: {
            getPosts() {
                let getUrlPost = '/api/admin/posts/' + this.id + '/edit';

                axios.get(getUrlPost)
                    .then((response) => {
                        this.posts = response.data.post;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updatePost() {
                let updateUrlPost = '/api/admin/posts/' + this.id;
                axios.put(updateUrlPost, {title: this.posts.title, body: this.posts.body})
                    .then((response) => {
                        console.log('Updated');
                        this.$router.push({name: "listsPosts"})
                    })
                    .catch((error) => {
                        console.log(error);
                        this.allerros = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>