<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content-page">
                    <div class="post" v-for="post in posts">
                        <h2>{{post.title}}</h2>
                        <p>{{post.body}}</p>
                        <img :src="getImage">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--                <div class="category-post">-->
                <!--                    <h2>Actions</h2>-->
                <!--                    <ul class="action" v-for="post in posts">-->
                <!--                        <li class="btn btn-info background-none">-->
                <!--                            <router-link to="/" class="btn-info">Edit</router-link>-->
                <!--                        </li>-->
                <!--                        <li class="btn btn-danger background-none">-->
                <!--                            <router-link to="/" class="btn-danger">Delete</router-link>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ListsPosts",
        data: function () {
            return {
                posts: [],
                getImage: 'uploads/4/download-(5).jpg',
            }
        },
        created() {
            this.getPosts();
        },
        methods: {
            getPosts() {
                axios.get('api/admin/posts')
                    .then((response) => {
                        console.log(response.data.posts);
                        this.posts = response.data.posts;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        }
    }
</script>

<style scoped>

</style>