<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Author</th>
            <th>Descriptions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="testimonial in testimonials">
            <td>{{testimonial.author}}</td>
            <td>{{testimonial.description}}</td>
            <td>
                <router-link v-bind:to="'admin/testimonial/'+testimonial.id+'/edit'" class="btn btn-info">Edit
                </router-link>
                <a v-on:click.prevent="DeleteTestimonial(testimonial.id)" class="btn btn-danger"
                   id="deleteButton">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "testimonials",
        data: function () {
            return {
                testimonials: []
            }
        },
        created() {
            this.getTestimonial();
        },
        methods: {
            getTestimonial() {
                axios.get('/api/admin/testimonial')
                    .then((response) => {
                        console.log(response.data.testimonials);
                        this.testimonials = response.data.testimonials;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            DeleteTestimonial(testimonial) {
                if (confirm("Do you want to delete?")) {
                    axios.delete('api/admin/testimonial/' + testimonial)
                        .then((response) => {
                            console.log(this);
                            $('#deleteButton').parent().closest('tr').remove();
                        }).catch((error) => {
                        console.log(error);
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>